.AppRoutes {
  /* min-height: 667px; */
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  font-family: arial;
  width: 100%;
  height: 100%;
  background-color:#EEEEEE;
  overflow: hidden;
}

.main{
  max-height: 490px;
  height: calc(100vh - 190px);
  width: 95%;
  overflow-y: scroll;
  margin: 0 auto;
}
